<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="mobile-web-app-capable" content="yes">
	<title>TorchNoteJS</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/app.css" rel="stylesheet" type="text/css" />
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#eee;border:0;">
		<div class="container">
			<div class="navbar-header">
				<a href="https://github.com/spencerthayer/TorchNoteJS/" target="_blank">
					<img src="/img/torchchat-logo.png" height="40" alt="TorchNoteJS" />
				</a>
			</div>
			<!--
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav right">
				<div id="username"></div>
			  </ul>
			</div>
			-->
		</div>
	</div>
	<div class="container content">
		<!-- CHAT WINDOW SELECT -->
		<ul class="nav nav-tabs" role="tablist" id="chatTab">
		  <li class="active"><a href="#decrypted" role="tab" data-toggle="tab" class="selecttab">Decrypted</a></li>
		  <li><a href="#encrypted" role="tab" data-toggle="tab" class="selecttab">Encrypted</a></li>
		</ul>
		<!-- CHAT WINDOWS -->
		<div class="row tab-content">
			<div class="active col-md-12 tab-pane" id="decrypted">
				<div id="in" class="chat">
					Decrypted text...
				</div>
			</div>
			<div class="col-md-12 tab-pane" id="encrypted">
				<textarea id="out" class="form-control chat" placeholder="Encrypted text..." rows="15" id="chatwindow" disabled></textarea>
			</div>
		</div>
		<!-- CHAT FUNCTIONS -->
		<div class="row">
			<div class="form-group col-md-2" role="form">
				<label class="sr-only" for="nickInput">Enter Nickname</label>
				<input type="text" class="form-control" id="nickInput" placeholder="Enter Nickname" />
	
			</div>
			<div class="form-group col-md-10" role="form">
				<input class="form-control" id="chatInput" placeholder="Type here..."/>
				<!--textarea row="2" class="form-control" id="chatInput" placeholder="Type here..."></textarea-->
			</div>
		</div>
		<!-- PASSPHRASE CONTROLS -->
		<div class="row">
			<div class="form-group col-md-2" role="form">
					<div class="note rightext pass" for="password">Passphrase:</div>
			</div>
			<div class="form-group col-md-10" role="form">
					<input class="form-control" type="password" id="key" style="border-radius:4px 4px 0 0;" />
			</div>
		</div>
		<!-- ADDITIONAL TOOLS -->
		<div class="row">	
			<div class="col-md-2 note nobr">
				<a href="https://burnbox.io/" target="_blank">
					<kbd>SEND A NOTE/FILE</kbd>
				</a>
			</div>
			<div class="form-group col-md-9">
				<div class="alert alert-warning" role="alert" id="botWarning" style="padding:2px 4px;border-radius:0;display:none;">Obfuscating chat record with randomized injection.</div>
			</div>
			<!--div class="col-md-6 note rightText">
				<kbd>ctrl</kbd>+<kbd>enter</kbd> : line break
			</div-->
		</div>
		<!--
			Are these off site hosted badges security risks?
		-- >
		<hr/>
		<div class="row">
			<div class="col-md-12">		
				<iframe src="http://ghbtns.com/github-btn.html?user=spencerthayer&repo=TorchNoteJS&type=watch&count=true"
	  allowtransparency="true" frameborder="0" scrolling="0" height="20" class="col-md-3"></iframe>
				<iframe src="http://ghbtns.com/github-btn.html?user=spencerthayer&repo=TorchNoteJS&type=fork&count=true"
	  allowtransparency="true" frameborder="0" scrolling="0" height="20" class="col-md-3"></iframe>
				<iframe src="http://ghbtns.com/github-btn.html?user=spencerthayer&type=follow&count=true"
	  allowtransparency="true" frameborder="0" scrolling="0" height="20" class="col-md-3"></iframe>
				<div class="col-md-3">
					<a href="https://twitter.com/spencerthayer" class="twitter-follow-button" data-show-count="false"> Follow @spencerthayer</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>
		</div>
		<!--
			Are these off site hosted badges security risks?
		-->
	</div>
<!-- LOAD JAVASCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/cryptojs/cryptojs.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/aes.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/autogrow.js"></script>
<script type="text/javascript" src="/js/passstrong.js"></script>
<script>
	
	function jqUpdateSize(){
	    // Get the dimensions of the viewport
	    var width = $(window).width();
	    var height = $(window).height();
	    // Do various things with that data.
	    $('#jqWidth').html(width);
	    $('#jqHeight').html(height);
	    $('.chat').height( $(window).height() - 350 )
	};
	$(document).ready(jqUpdateSize);    // When the page first loads
	$(window).resize(jqUpdateSize);     // When the browser changes size
	
	$timeout(function(){
		var messageThread = document.getElementById('in');
		messageThread.scrollTop = messageThread.scrollHeight;
		},1)
	
	$('textarea').autogrow($('#chatInput'));
	
	botAlert = setTimeout(function() {
	    $('#botWarning').show();
	    setTimeout(function(){
		$('#botWarning').hide();
	    }, 1000);
	}, 1000);
	botAlert();

</script>
<!--div style="position:absolute;float:right;bottom:0;right:0;z-index:1000000;"><span id="jqWidth">0</span> x <span id="jqHeight">0</span></div-->
</body>
</html>