<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TorchNoteJS</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/app.css" rel="stylesheet" type="text/css" />
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/cryptojs/cryptojs.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/aes.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/passstrong.js"></script>
	<script type="text/javascript" src="/js/autogrow.js"></script>
	<script type="text/javascript" src="/js/stickyscroll.min.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#eee;border:0;">
		<div class="container">
			<div class="navbar-header">
			  <img src="/img/torchchat-logo.png" height="40" alt="TorchNoteJS"/>
			</div>
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav right">
				<div id="username"></div>
			  </ul>
			</div>
		</div>
	</div>
	<div class="container content">
		<ul class="nav nav-tabs" role="tablist" id="chatTab">
		  <li class="active"><a href="#decrypted" role="tab" data-toggle="tab">Decrypted</a></li>
		  <li><a href="#encrypted" role="tab" data-toggle="tab">Encrypted</a></li>
		</ul>
		<div class="row tab-content">
			<div class="active col-md-12 tab-pane" id="decrypted">
				<textarea id="in" class="form-control chatwindow" placeholder="Decrypted text..." rows="15" id="chatwindow" disabled></textarea>
			</div>
			<div class="col-md-12 tab-pane" id="encrypted">
				<textarea id="out" class="form-control chatwindow" placeholder="Encrypted text..." rows="15" id="chatwindow" disabled></textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-2" role="form">
					<label class="note right" for="password">Passphrase:</label>
			</div>
			<div class="form-group col-xs-10" role="form">
					<input class="form-control" type="password" id="key" />
					<div class="passverdict"></div>
					<div class="passdetails"></div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-2" role="form">
				<label class="sr-only" for="nickInput">Enter Nickname</label>
				<input type="text" class="form-control" id="nickInput" placeholder="Enter Nickname" />
	
			</div>
			<div class="form-group col-xs-10" role="form">
				<textarea class="form-control" rows="1" id="chatInput" placeholder="Type here..."></textarea>
				<div class="note"><kbd>ctrl</kbd>+<kbd>enter</kbd> : line break</div>
			</div>
		</div>
	</div>
<script>
	$(function () {
		$('#chatTab a:first').tab('show')
	})
	$(function() {
		$("#chatwindow").sticky();
		var i = 0;
		setInterval(function() {
		var div = $("<div>").html("Row #" + i++);
		$("#chatwindow").append(div);
		}, 100);
	});
	$('textarea').autogrow();
</script>
</body>
</html>
