html, body {
    width:100%;
        height: 100%;
    /*overflow: hidden;*/
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    border:1px solid #999999;
    width:100%;
	height:400px;
    margin:5px 0;
    padding:13px;
}

#out {
	font-size: 10px;
}

#out::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
	font-size: 14px;
}
#out:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
	font-size: 14px;
}
#out::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
	font-size: 14px;
}
#out:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
	font-size: 14px;
}
textarea#chatInput {
    margin: 0;
    margin-bottom: 8px;
    }
.inlinetext {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
.note {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 3px;
    }
.note kbd, .note a kbd {
    display: inline;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
    }
#key {
	letter-spacing:7px;
	text-align:center;
	font-size:16px;
    }
.content {
    padding-top:60px;
    }
.chat {
    min-height: 50px;
    margin: 16px 0;
    border-top: none;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    }
.chat .row {
    padding: 4px 0;
    }
.nickname {
    font-size: 80%;
    overflow: hidden;r
    font-size: 100%;
    }
.error-list {
    list-style-position: inside;
    }
.error-list li {
    display: inline; 
    }

.right {
    float: right;
}
.rightext {
    text-align: right;
}
@media(min-width:0px) and (max-width:991px) {
    .rightext {
	text-align: left;
      }
    .pass {
	position: absolute;
	top: 0px;
    }
}
@media(min-width:0px) and (max-width:401px) {
}

nobr, .nobr { white-space:nowrap; }

.warning {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.5),
		 0px 2px 5px rgba(0,0,0,0.25),
		 0px 3px 7px rgba(0,0,0,0.1);
}

.selecttab {
    padding: 5px 5px !important;
}